@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');

:root {
    --background-colour: #393939;
    --title-font: 'Krona One';
    --text-font: 'Kosugi Maru';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
}



.navbar{
    background-color: var(--background-colour);
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar .navbar-nav .nav-link {
    color: white; 
}

.jumbotron {
    position: relative;
    background-image: url("assets/temp-background.png");
    background-size: cover;
    height: 650px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding:0;
}

.jumbotron-text{
    padding-top: 20px;
}

.jumbotron::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.container {
    z-index: 2; 
    text-align: center;
    color: white;
    margin-top: 80px;
    padding-bottom: 20px;
}




.logo {
    position: absolute;
    left: 1%;
}



.scientificLink {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 1vw;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 1%;
    left: 1%;
    display: inline-block;
}

.scientificLink:hover {
    text-underline-offset: 0.4em;
    text-decoration: underline;
    font-family: var(--text-font), sans-serif;
    background-color: transparent;
    border-color: transparent;
}

.mediaLink {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 1vw;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 1%;
    left: 1%;
}

.mediaLink:hover {
    font-family: var(--text-font), sans-serif;
    text-underline-offset: 0.4em;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent ;
}

.h-40 {
    height: 40%;
}

.h-30 {
    height: 30%;
}

.h-20 {
    height: 20%;
}

.h-15 {
    height: 15%;
}

.h-125 {
    height: 12.5%;
}

.h-10 {
    height: 10%;
}

.title {
    font-family: var(--title-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 4vw;
    text-align:center;
    width: 100%;
}

.biggerTitle {
    font-family: var(--title-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 4.5vw;
    text-align:center;
    width: 50%;
}

a.robocup-link:link {
    color: white;
    text-decoration: underline;
}

a.robocup-link:visited {
    color: white;
    text-decoration: underline;
}

a.robocup-link:hover {
    color: white;
    text-decoration: underline;
}

.goingTo {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 50;
    font-size: 1.24vw;
    text-align: center;
}

a.linkToOld-link:link {
    color: white;
    text-decoration: underline;
}

a.linkToOld-link:visited {
    color: white;
    text-decoration: underline;
}

a.linkToOld:hover {
    color: white;
    text-decoration: underline;
}

.link {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-size: 1.1vw;
    text-align: center;
}

.scrollDown {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 50;
    font-size: 1.1vw;
    text-align: center;
}

.square {
    background-color: var(--background-colour);
    height: 75vh;
    width: 100%;
}

.pastCompTitle {
    font-family: var(--title-font), sans-serif;
    color: var(--background-colour);
    font-weight: 120;
    font-size: 3vw;
}

.comp1 {
    font-family: var(--text-font);
    text-align: left;
    font-size: 1.5vw;
}

.date1 {
    font-family: var(--text-font);
    text-align: left;
    font-size: 0.8vw;
}

.compOneVideo {
    width: 39vw;
    height: calc(39vw / 1.78);
}

.comp2 {
    font-family: var(--text-font);
    font-size: 1.5vw;
}

.date2 {
    font-family: var(--text-font);
    font-size: 0.8vw;
}

.compTwoVideo {
    width: 39vw;
    height: calc(39vw / 1.78);
}

.ourTeamTitle {
    font-family: var(--title-font), sans-serif;
    color: var(--background-colour);
    font-weight: 120;
    font-size: 3vw;
    text-align: center;
    padding-top: 10px;
   margin: 0 auto;
    
    
}

/* Container for the hexagon profile grid */


/* Define the hexagon shape */
.hexagon {
    position: relative;
    width: 21vw;
    height: calc(21vw * 0.866); /* Aspect ratio for hexagon */
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center;

}

.hex-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inherit;
}

.profile-info {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    transition: opacity 0.3s ease;
    overflow: hidden;
    padding: 10px; 
    max-height: 100%; 
    height: 100%;
}

.profile-name {
    font-size: clamp(0.8rem, 5vw, 1.5rem); 
    font-weight: bold;
    margin: 5px 0; 
}

.profile-role {
    font-size: clamp(0.7rem, 4vw, 1rem); 
    margin: 5px 0;
}

.profile-bio {
    font-size: small;
    display: block;
    margin: 2px 0;
     
}

/* Hover effect for hexagon */
.profile-hex:hover .hexagon {
    transform: scale(1.1);  /* Slightly increase the size without affecting layout */
    transition: transform 0.3s ease;  /* Smooth transition for scaling */
    clip-path: none;  /* Remove hexagonal shape and make it a square */
  
}

/* Show profile info on hover */
.profile-hex:hover .profile-info {
    opacity: 1;
}

/* Ensures the text always stays inside the hexagon without overflow */
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  /* Space out the name, role, and bio */
}


.profile-row {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}


.individualTeam{
    display: flex;
    flex-wrap: wrap; /* Allows hexagons to wrap into rows */
    justify-content: center; /* Aligns the pattern to the center horizontally */
    gap: 10px; 
    transform: translateX(60px);
}
.clickable-hex{
    position: relative; /* Needed to position hexagons correctly */
    width: 100%;
    height: auto;
    display: flex;
}




/* Optional: Responsive behavior for smaller screens */
@media (max-width: 768px) {
    .hexagon {
        width: 40vw;  /* Adjust the size of hexagons */
        height: calc(40vw * 0.866); /* Adjust height for smaller screens */
    }

    /* Adjust positioning for mobile */
    .clickable-hex .col-4:nth-child(1) {
        top: 0;
        left: 0;
    }

    .clickable-hex .col-4:nth-child(2) {
        top: 0;
        left: 35vw;
    }

    .clickable-hex .col-4:nth-child(3) {
        top: 0;
        left: 80vw;
    }

    .clickable-hex .col-4:nth-child(4) {
        top: 50%;
        left: 0vw;
    }

    .clickable-hex .col-4:nth-child(5) {
        top: 50%;
        left: 45vw;
    }
}



.meet-team-container {
    padding:0px;
    margin-left: -65px;
}

.teams-section{
    background-color: var(--background-colour);
    padding-bottom: 10px;  
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; /* Ensure that the title is centered */
    
}

.teams-section h1{
    color: white;
}

.teams-section h2{
    color: var(--background-colour);
    text-align: center;
}

.sponsor-section{
    margin-left: -65px;
}

.sponsor-section h1{
    color: var(--background-colour);
}

#carouselExampleControls {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  #carouselExampleControls .carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: cover; 
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5; 
    margin: 0;
    padding: 0;
  }
  
  .carousel-control-prev {
    left: 0; 
  }
  
  .carousel-control-next {
    right: 0; 
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%; /* Ensure the width is full */
    text-align: center; /* Ensure text inside is also centered */
}

  
  .carousel-control-prev-icon, 
  .carousel-control-next-icon {
    width: 40px; 
    height: 40px; 
   
  }



  
  .carousel-control-next-icon{
    margin-left: 100px;
  }
  
 

.hex-color-1 {
    background-color: #F59F00;
}

.hex-color-2 {
    background-color: #D33675; 
}

.hex-color-3 {
    background-color: #4772d7; 
}

.hex-color-4 {
    background-color: #F34616; 
}

.hex-color-5 {
    background-color: #00A380; 
    
}



a.clickable-hex {
    display: block;
    text-decoration: none; /* Remove the underline from the links */
}

/* Responsive behavior for hexagons */
@media (max-width: 768px) {
    .hexagon {
        width: 25vw;
        height: calc(25vw * 0.866);
    }
}



.bottomSquare {
    background-color: var(--background-colour);
    height: 20vh;
    width: 100%;
}

.followOn {
    font-family: var(--text-font);
    position: relative;
    color: white;
    text-align: left;
    font-size: smaller;

}

.instagram {
    font-family: var(--text-font);
    color: white;
    font-size: small;
}

.tiktok {
    font-family: var(--text-font);
    color: white;
    font-size: small;
    left: 10px;
}

