@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');
:root {
    --background-colour: #E62A2E;
    --title-font: 'Krona One';
    --text-font: 'Kosugi Maru';
}

.logo {
    position: absolute;
    left: 1%;
}

.scientificLink {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 1vw;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 1%;
    left: 1%;
    display: inline-block;
}

.scientificLink:hover {
    text-underline-offset: 0.4em;
    text-decoration: underline;
    font-family: var(--text-font), sans-serif;
    background-color: transparent;
    border-color: transparent;
}

.mediaLink {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 1vw;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 1%;
    left: 1%;
}

.mediaLink:hover {
    font-family: var(--text-font), sans-serif;
    text-underline-offset: 0.4em;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent ;
}

.h-20 {
    height: 20%;
}

.h-15 {
    height: 15%;
}

.h-125 {
    height: 12.5%;
}

.title {
    font-family: var(--title-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 4vw;
    text-align:center;
    width: 100%;
    position: absolute;
    /*left: 15%;*/
    /*top: 20%;*/
}

.biggerTitle {
    font-family: var(--title-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 4.5vw;
    text-align:center;
    width: 50%;
    position: absolute;
}

a.robocup-link:link {
    color: white;
    text-decoration: underline;
}

a.robocup-link:visited {
    color: white;
    text-decoration: underline;
}

a.robocup-link:hover {
    color: white;
    text-decoration: underline;
}

.goingTo {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 50;
    font-size: 1.24vw;
    text-align: center;
}

a.linkToOld-link:link {
    color: white;
    text-decoration: underline;
}

a.linkToOld-link:visited {
    color: white;
    text-decoration: underline;
}

a.linkToOld:hover {
    color: white;
    text-decoration: underline;
}

.link {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-size: 1.1vw;
    text-align: center;
}

.scrollDown {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 50;
    font-size: 1.1vw;
    text-align: center;
}

.triangleDown {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid var(--background-colour);
    position: relative;
    top: 30%;
    left: 22%;
}
    
.circleDown {
    background-color: white;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    position: absolute;
    left: 46%;
    top: 56%;
}

.square {
    background-color: var(--background-colour);
    height: 75vh;
    width: 100%;
}

.pastCompTitle {
    font-family: var(--title-font), sans-serif;
    color: var(--background-colour);
    font-weight: 120;
    font-size: 3vw;
    text-align:center;
    position: absolute;
    left: 4%;
    top: 80%;
}

.comp1 {
    font-family: var(--text-font);
    position: absolute;
    font-size: 1.5vw;
    top: 100%;
    left: 4%;
}

.date1 {
    font-family: var(--text-font);
    position: absolute;
    top: 105%;
    left: 4%;
    font-size: 0.8vw;
}

.compOneVideo {
    position: absolute;
    top: 110%;
    left: 4%;
}

.comp2 {
    font-family: var(--text-font);
    position: absolute;
    top: 160%;
    left: 4%;
    font-size: 1.5vw;
}

.date2 {
    font-family: var(--text-font);
    position: absolute;
    top: 165%;
    left: 4.1%;
    font-size: 0.8vw;
}

.compTwoVideo { 
    position: absolute;
    top: 170%;
    left: 4%;
}

.ourTeamTitle {
    font-family: var(--title-font), sans-serif;
    color: var(--background-colour);
    font-weight: 120;
    font-size: 3vw;
    text-align:center;
    position: absolute;
    top: 220%;
    left: 75%;
}

.adrian-bio {
    position: absolute;
    top: 240%;
    width: 74%;
}

.hex {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 3%;
    left: 5%;
    width: 290px;
    height: 260.12px; /* width * 0.866 */
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex img {
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-adrian {
    position: absolute;
    background-color: orange; 
    top: 2px; 
    left: 2px; 
    width: 290px; 
    height: 260.12px;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.adrian-name {
    font-family: var(--text-font);
    color: black;
    position: relative;
    font-size: 2vw;
    top: 25%;
    left: 35%;
}

.adrian-role {
    font-family: var(--text-font);
    color: black;
    position: relative;
    font-size: 1.8vw;
    top: 15%;
    left: 35%;
}

.adrian-description {
    font-family: var(--text-font);
    color: black;
    position: relative;
    font-size: 1.4vw;
    top: 70%;
    left: 35%;
    width: 50%;
}

.adrian-contact {
    font-family: var(--text-font);
    color: black;
    position: relative;
    font-size: 1.2vw;
    top: 70%;
    left: 35%;
}

.amber-bio {
    position: absolute;
    top: 300%;
    width: 80%;
}

.hex1 {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 3%;
    right: 5%;
    width: 290px;
    height: 260.12px; /* width * 0.866 */
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex1 img {
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-amber {
    position: absolute;
    background-color: orange; 
    top: 2px; 
    left: 2px; 
    width: 290px; 
    height: 260.12px;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.amber-bio {
    position: absolute;
    top: 300%;
    width: 80%;
}

.amber-name {
    font-family: var(--text-font);
    color: black;
    text-align: right;
    position: relative;
    font-size: 2vw;
    top: 35%;
    left: 5%;
}

.amber-role {
    font-family: var(--text-font);
    color: black;
    text-align: right;
    position: relative;
    font-size: 1.8vw;
    top: 15%;
    left: 5%;
}

.amber-description {
    font-family: var(--text-font);
    text-align: right;
    color: black;
    position: relative;
    font-size: 1.2vw;
    top: 80%;
    left: 55%;
    width: 50%;
}

.amber-contact {
    font-family: var(--text-font);
    color: black;
    text-align: left;
    position: relative;
    font-size: 1.2vw;
    top: 70%;
    left: 100%;
    width: 10%;
}

.daudi-bio {
    position: absolute;
    top: 370%;
    width: 80%;
}

.daudi-name {
    font-family: var(--text-font);
    color: black;
    position: relative;
    font-size: 2vw;
    top: 35%;
    left: 5%;
}

.daudi-role {
    font-family: var(--text-font);
    color: black;
    position: relative;
    font-size: 1.8vw;
    top: 15%;
    left: 5%;
}

.daudi-description {
    font-family: var(--text-font);
    color: black;
    position: relative;
    font-size: 1.4vw;
    top: 70%;
    left: 5%;
    width: 50%;
}

.daudi-contact {
    font-family: var(--text-font);
    color: black;
    position: relative;
    font-size: 1.2vw;
    top: 70%;
    left: 5%;
    width: 30%;
}

.adi-bio {
    position: absolute;
    top: 420%;
    width: 80%;
}

.adi-name {
    font-family: var(--text-font);
    color: black;
    text-align: right;
    position: relative;
    font-size: 2vw;
    top: 30%;
    left: 75%;
    width: 30%;
}

.adi-role {
    font-family: var(--text-font);
    color: black;
    text-align: right;
    position: relative;
    font-size: 1.8vw;
    top: 15%;
    left: 70%;
    width: 35%;
}

.adi-description {
    font-family: var(--text-font);
    color: black;
    position: relative;
    top: 30%;
    left: 40%;
    font-size: 1.4vw;
    width: 50%;
}

.adi-contact {
    font-family: var(--text-font);
    color: black;
    text-align: right;
    position: relative;
    font-size: 1.2vw;
    top: 70%;
    left: 100%;
}

.bottomSquare {
    background-color: var(--background-colour);
    position: absolute;
    top: 500%;
    height: 20vh;
    width: 100%;
}