
@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');

:root {
    --background-colour: #E62A2E;
    --title-font: 'Krona One';
    --text-font: 'Kosugi Maru';
}
.square {
    background-color: var(--background-colour);
    position: absolute;
    height: 40vh;
    padding:0;
    margin:0;
    top:0%;
    left:0;
    width: 100%;

    
}

.title {
    font-family: var(--title-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 4vw;
    text-align:center;
    width: 70%;
    position: absolute;
    top: 25%;
    left: 15%;
}
.logo {
    position: absolute;
    top:0%;
    left: 2%;
}

.scientificLink {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 1vw;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 1%;
    left: 73%;
    display: inline-block;
}

.scientificLink:hover {
    text-underline-offset: 0.4em;
    text-decoration: underline;
    font-family: var(--text-font), sans-serif;
    background-color: transparent;
    border-color: transparent;
}

.mediaLink {
    font-family: var(--text-font), sans-serif;
    color: white;
    font-weight: 120;
    font-size: 1vw;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 1%;
    left: 94%;
}

.mediaLink:hover {
    font-family: var(--text-font), sans-serif;
    text-underline-offset: 0.4em;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent ;
}
.bulletP {
    font-family: var(--text-font), sans-serif;
    width: 50%;
    position: absolute;
    font-size:0.8vw;
    top: 55%;
    left: 5%;
}

.pubIntro {
    font-family: var(--text-font), sans-serif;
    width: 60%;
    position: absolute;
    font-size:0.8vw;
    top: 110%;
    left: 5%;
}
.techApDesc {
    font-family: var(--text-font), sans-serif;
    width: 50%;
    font-size:0.8vw;
    position: absolute;
    top: 155%;
    left:5%;

}
.techApTitle {
    font-family: var(--title-font), sans-serif;
    color: var(--background-colour);
    position: absolute;
    font-size:1.3vw;
    top: 145%;
    left: 5%;
}

.HardwareTitle{
    font-family: var(--title-font), sans-serif;
    color: var(--background-colour);
    width:50%;
    position: absolute;
    font-size:1.1vw;
    top: 172%;
    left: 5%;
}
.HardwareDesc{
    font-family: var(--text-font), sans-serif;
    width: 50%;
    font-size:0.8vw;
    position: absolute;
    top: 182%;
    left:5%;
}

.SoftwareTitle{
    font-family: var(--title-font), sans-serif;
    color: var(--background-colour);
    position: absolute;
    font-size:1.1vw;
    top: 234%;
    left: 5%;
}
.SoftwareDesc{
    font-family: var(--text-font), sans-serif;
    width: 50%;
    font-size:0.8vw;
    position: absolute;
    top: 244%;
    left:5%;
}
.HRI{
    position: absolute;
    left: 60%;
    top: 250%
}
.HRIList{
    font-family: var(--text-font), sans-serif;
    width: 50%;
    font-size:0.8vw;
    position:absolute;
    left:5%;
    top:365%;
}
.HRIDesc{
    font-family: var(--text-font), sans-serif;
    width: 50%;
    font-size:0.8vw;
    position: absolute;
    top: 430%;
    left:5%;
}

.bottomSquare {
    background-color: var(--background-colour);
    position: absolute;
    top: 460%;
    padding:0;
    margin:0;
    left:0%;
    height: 20vh;
    width: 100%;
}